body::-webkit-scrollbar{background-color:#ddd;border-left:1px solid #ccc;width:10px;}
body::-webkit-scrollbar-thumb{background-color:#bbb;}
#TSG-container {
	max-width:1200px;
	margin: 0 auto;
	min-height:500px;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
#TSG-infotop {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */

	background-color: #eee;
	/*background-color: transparent;*/
	color: #2d2d2d;
	padding-left: 0px;
	padding-right: 0px;
	/*border-bottom: 1px solid #eee;*/
	font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size:16px;
	cursor:crosshair;
}
#TSG-current-time {
	display: inline-block;
	float: right;
	padding-right:5px;
	padding-left:5px;
	/*color: #4FD5D6;*/
	color: #2d2d2d;
	/*color: white;*/
	/*background-color: #ddd;*/
	background-color: #fafafa;
	/*padding-top:1px;*/
	/*padding-bottom:1px;*/
	/*border-left: 1px solid #ccc;*/
	border: 1px solid #eee;
	text-shadow: 2px 2px 2px #eee;
	/*text-shadow: 1px 1px 2px #999;*/
}
#TSG-current-time::after {
	font-family: FontAwesome;
	content: " \f017";
}

#TSG-controls {
	display: inline-block;
	margin-right: 10px;
}
#TSG-controls #TSG-controls-zoom-slider {
	height:10px;
	outline: none;
}
#TSG-controls #TSG-controls-zoom-slider::-webkit-slider-thumb  {
    background-color: #222;
    opacity: 0.5;
    width: 10px;
    height: 16px;
    font-size: 12px;
}
#TSG-controls-zoom-indicator {
	font-size: 13px;
	font-weight: normal;
	color: #5d5d5d;
}
#TSG-controls-zoom-indicator::after {
	content: '%';
}
#TSG-controls .control-btn {
	/*background-color: red;*/
	display: inline-block;
	padding:1px;
	/*color: #aaa;*/
	color: #2d2d2d;
	cursor: pointer;
	border: 1px solid #e2e2e2;
	transition-property: border, color, background;
	transition-duration: 1s, 1s, 1s;
	transition-timing-function: cubic-bezier(.06,1.47,.29,.87), cubic-bezier(.06,1.47,.29,.87), cubic-bezier(.06,1.47,.29,.87);
}
#TSG-controls .control-btn:hover {
	border: 1px solid #2d2d2d;
	background-color: #2d2d2d;
	color: #fff;
}
#TSG-scroller {
	overflow: auto;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
#TSG-scroller::-webkit-scrollbar{background-color:#ddd;border-left:1px solid #ccc;width:10px;height:30px;}
#TSG-scroller::-webkit-scrollbar-thumb{background-color:#bbb;}
#TSG-scroller::-webkit-scrollbar-thumb:hover{background-color:orange;}

.TSG-tier {
	height: 50px;
	cursor:crosshair;
}
.TSG-tier.interval-tier {

}
.TSG-tier.point-tier {
}
.tier-central-line {
	stroke: rgba(0,0,0,0.1);
	stroke-width:1;
}
.tier-text {
	stroke: transparent;
	fill: #111;
	font-family: monospace;
	font-size: 10px;
	font-weight: normal;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.tier-name-text {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */

    stroke: transparent;
	fill: #111;
	font-family: monospace;
	font-size: 10px;
	font-weight: normal;
}
.tier-name-text {
	font-weight: bold;
	text-transform: uppercase;
}
.tier-name-box {
	stroke: #eee;
	fill: #eee;
}
.tier-name-box.active {
	stroke: #4FD5D6;
	fill: #4FD5D6;
}

.interval-box {

}

.point-box {

}

.interval-box-too-small {
	fill: rgba(255, 0,0, 0.1);
	stroke: rgba(255, 0,0, 0.15);
	stroke-width: 1px;
	transition-property: fill;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(.06,1.47,.29,.87);
}
.interval-box-too-small:hover {
	fill: rgba(255, 0,0, 0.4);
}

.interval-group, .point-group {
	background-color: transparent;
	fill: #fafafa;
	stroke-width:1;
	stroke:#eaeaea;
	transition-property: fill;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(.06,1.47,.29,.87);
}
.interval-group:hover, .point-group:hover {
	fill: #4FD5D6;
	stroke: #777;
}

.current-time-marker {
	fill: rgba(255,0,0,0.5);
	stroke: rgba(255,0,0,0.3);
}
